@import 'bootstrap/bootstrap';
@import 'owl-carousel/owl.carousel';
@import 'font-awesome/font-awesome';





@font-face {
    font-family: "indie";
    src: url("../fonts/indie/IndieFlower.ttf"),
    url('../fonts/indie/IndieFlower.woff2') format('woff2'),
    url('../fonts/indie/IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



header {
    background: $black;
}

.pic-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-picture {
    position: relative;
    height: 500px;

    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        /*animation*/
        animation: slideShow 24s linear infinite 0s;
        -o-animation: slideShow 24s linear infinite 0s;
        -moz-animation: slideShow 24s linear infinite 0s;
        -webkit-animation: slideShow 24s linear infinite 0s;
    }
    .pic-1 {
        opacity: 1;

        background: url(../images/01.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .pic-2 {
        animation-delay: 6s;
        -o-animation-delay: 6s;
        -moz--animation-delay: 6s;
        -webkit-animation-delay: 6s;
        background: url(../images/02.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .pic-3 {
        animation-delay: 12s;
        -o-animation-delay: 12s;
        -moz--animation-delay: 12s;
        -webkit-animation-delay: 12s;
        background: url(../images/03.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .pic-4 {
        animation-delay: 18s;
        -o-animation-delay: 18s;
        -moz--animation-delay: 18s;
        -webkit-animation-delay: 18s;
        background: url(../images/04.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    @keyframes slideShow {
        0% {
            opacity: 0;
            transform: scale(1);
            -ms-transform: scale(1);
        }
        5% {
            opacity: 1
        }
        25% {
            opacity: 1;
        }
        30% {
            opacity: 0;
            transform: scale(1.1);
            -ms-transform: scale(1.1);
        }
        100% {
            opacity: 0;
            transform: scale(1);
            -ms-transformm: scale(1);
        }
    }
    @-o-keyframes slideShow {
        0% {
            opacity: 0;
            -o-transform: scale(1);
        }
        5% {
            opacity: 1
        }
        25% {
            opacity: 1;
        }
        30% {
            opacity: 0;
            -o-transform: scale(1.1);
        }
        100% {
            opacity: 0;
            -o-transformm: scale(1);
        }
    }
    @-moz-keyframes slideShow {
        0% {
            opacity: 0;
            -moz-transform: scale(1);
        }
        5% {
            opacity: 1
        }
        25% {
            opacity: 1;
        }
        30% {
            opacity: 0;
            -moz-transform: scale(1.1);
        }
        100% {
            opacity: 0;
            -moz-transformm: scale(1);
        }
    }
    @-webkit-keyframes slideShow {
        0% {
            opacity: 0;
            -webkit-transform: scale(1);
        }
        5% {
            opacity: 1
        }
        25% {
            opacity: 1;
        }
        30% {
            opacity: 0;
            -webkit-transform: scale(1.1);
        }
        100% {
            opacity: 0;
            -webkit-transformm: scale(1);
        }
    }
}

.equipment {
    background: $white;
    h2 {
        padding: 4rem 1rem 0 0;
    }
    h2,
    p {
        @include media-breakpoint-down(sm) {
            text-align: center;
            margin: 0 auto;
            padding: 1.1rem 0;
        }
        @include media-breakpoint-down(md) {
            text-align: center;
            margin: 0 auto;
            padding: 1.1rem 0;
        }
    }
    img {
        transition: .5s;
        &:hover {
            transform: translateY(-1rem);
        }
    }
}

.equipment {
    @include media-breakpoint-down(sm) {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        padding: 1.1rem 0;
    }
    img {
        padding: 2rem 0;
    }
}

.products {
    background: $white;
    padding: 5rem 0;
    .caption {
        text-align: center;
        display: block;
        padding: 0 0 2rem 0;
    }
    @include media-breakpoint-down(sm) {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        padding: 1.1rem 0;
    }
    .box {
        .item {
            width: 100%;
            padding: 0 1rem;
            a img {
                transition: .5s;
                @include media-breakpoint-down(sm) {
                    padding: 1.2rem 0;
                }
                &:hover {
                    transform: translateY(-1rem);
                }
            }
        }
        h5 {
            display: block;
            margin-bottom: 5px;
            color: #777;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.2;
            overflow: hidden;
            min-height: 42px;
        }
        .product-price {
            .percent-disount {
                display: flex;
                flex-direction: row;


                .percent {

                    height: 1rem;
                    padding: 0 .7rem;
                    width: auto;
                    background: #ed1c24;
                    color: #fff;
                    font-size: 11px;
                    border: 1px solid #ed1c24;
                    font-weight: 600;
                    line-height: 12px;
                    letter-spacing: 0.03em;
                    vertical-align: middle;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                        margin: 0 .1rem 0 12rem;
                        max-width: 100%;
                    }
                }
                .discount {

                    margin: 0;
                    padding: 0 0 0 5px;
                    background: transparent;
                    color: #888;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 17px;
                    text-decoration: line-through;
                    vertical-align: middle;
                }
            }
            .actual-price {
                color: #000;
                font-size: 0.95rem;
                font-weight: 600;
                line-height: 0;
            }
        }
    }
}

footer {
    background: #262626;
    padding: 2rem 0 1rem 0;
    .data {
        padding: .5rem 0;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        color: $white;
    }
    a {
        color: $blue;
        &:hover {
            color: #fff;
        }
    }
    p {
        font-size: 12px;
        color: $white;
        line-height: 3px;
    }
    .strong {
        font-size: 14px;
        font-weight: 400;
    }
    ul {
        padding: 0;
        width: 100%;
        li {
            list-style: none;
            display: block;
            margin-bottom: 4px;
            .fa {
                font-size: 18px;
                width: 30px;
                text-align: center;
            }
            span {
                font-weight: 100;
            }
        }
    }

    .address {
        span {
            display: block;
            margin-left: 50px;
            margin-bottom: 8px;
            font-weight: 100;
        }
    }
    .fa-map-marker {
        font-size: 18px;
        width: 30px;
        text-align: center;
    }
    .social {
        font-size: 30px;
        a:hover {
            transform: rotate(360deg);
        }  
    }
    h4 {
        color: $white;
        font-weight: 500;
       
    }
    .copyright {
        padding: 15px 0;
        border-top: 1px solid $white;
        position: relative;
        margin-top: 50px;
        a {
            text-align: right;
            display: block;
            font-weight: 300;
        }
        #puzzle {
            position: relative;
            top: 7px;
        }
        i {
            position: absolute;
            top: -25px;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $white;
        }
    }
    .btn {
        float: right;
    }
    #result {
        display: none;
    }
}

form {
    max-width: 350px;
    margin-bottom: 80px;
    position: relative;
    input,
    textarea {
        border-radius: none;
        background: rgba(248, 248, 248, 0.06);
        border: 1px solid transparent;
        display: block;
        margin-bottom: 10px;
        width: 100%;
        padding: 7px 15px;
        width: 100%;
        color: $white;
        font-weight: 100;

        &:focus {
            background: rgba(248, 248, 248, 0.21);
            border: 1px solid $blue;
        }
        &::-webkit-input-placeholder {
            color: $white;
            font-weight: 100;
        }
        &:-moz-placeholder {
            color: $white;
            font-weight: 100;
        }
        &::-moz-placeholder {
            color: $white;
            font-weight: 100;
            ;
        }
        &:-ms-input-placeholder {
            color: $white;
            font-weight: 100;
        }
    }
    .label {
        position: absolute;
        z-index: -100;
        text-indent: -999;
        left: -999px;
    }
    textarea {
        max-height: 300px;
        max-width: 100%;
    }
    button {
        border: 1px solid $blue;
        background: $blue;
        display: block;
        width: 120px;
        padding: 5px 0;
        float: right;
        color: $white;
    }
    .form-group {
        position: relative;
    }
    .error {
        border-color: #ea3133;
        &:before {
            position: absolute;
            right: 0px;
            top: 8px;
            width: 20px;
            height: 20px;
            z-index: 10;
            color: #ea3133;
            content: "\f071";
        }
    }
    .valid {
        border-color: #89cf7e;
        display: block!important;
        &:before {
            position: absolute;
            right: 0px;
            top: 8px;
            width: 20px;
            height: 20px;
            z-index: 10;
            color: #89cf7e;
            content: "\f00c";
            font-family: 'FontAwesome';
        }
    }
    .success {
        position: absolute;
        background: #89cf7e;
        width: 100%;
        span {
            text-align: center;
            display: block;
            padding: 6px 20px;
        }
    }
}
.cooperate a img{max-width:5.5rem;}
